{% extends "base.html" %}
{% load static %}

{% block title %}Mi cuenta{% endblock %}
{% block body_class %}body-profile{% endblock %}

{% block content %}
<section class="profile">
  <div class="sidebar-container">
    {% include "components/29_sidebar_profile.html" %}
  </div>

  <div class="profile-container">
    <h2 style="margin: 0;">Panel de cliente</h2>
    <p>Hola, {{ request.user.username }}. Desde el menú de la izquierda podrás gestionar tu cuenta.</p>
  </div>
</section>
{% endblock %}