{% extends "base.html" %}
{% load static %}


{% block title %}AgroNet{% endblock %}

{% block body_class %}body-edit{% endblock %}

{% block content %}
    
<!-- Contenido de la pagina -->
<div class="register-container">
    {% include "components/6_edit_profile.html" %}
</div> 

{% endblock %}    

{% block scripts %}  

<script src="{% static 'js/components/6_edit_profile.js' %}" defer></script>

{% endblock %}
    
    



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link rel="stylesheet" href='/src/static/css/main.css'>
    

    <script src="/src/static/js/components/5_navbar_seller.js" defer></script>

    <script src="/src/static/js/components/1_footer.js" defer></script>
    <script src="/src/static/js/components/6_edit_profile.js" defer></script>
    
    

</head>

<body class="body-edit">


    <header class="head">
        <div class="navbar-container"></div>
    </header>


    <div class="register-container"></div>

    <footer class="footer">
        <div class="footer-container"></div>
    </footer>

</body>
</html> -->