{% extends "base.html" %}
{% load static %}


{% block title %}Foto de perfil{% endblock %}

{% block body_class %}body-profile_photo{% endblock %}


{% block content %}
  
<div class="container-profile-photo" id="template-profile-photo">
  {% include "components/67_profile_photo.html" %}
</div>
  
{% endblock %}


{% block scripts %}
  <script>
    const profilePhotoURL = "{% static 'data/profile_photo.json' %}";
  </script>
  <script src="{% static 'js/components/67_profile_photo.js' %}" defer></script>
{% endblock %}


