{% load static %}

<section class="product-detail">
  <div class="product-detail__body">
    <!-- Imagen a la izquierda -->
    <div class="product-detail__image-container">
      {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-detail__image">
      {% else %}
        <img src="{% static 'assets/banano.webp' %}" alt="{{ product.name }}" class="product-detail__image">
      {% endif %}
    </div>


    <!-- Info a la derecha -->
    <div class="product-detail__info">
      <div class="product-detail__header">
        <h2 class="product-detail__title">{{ product.name }}</h2>
          <p class="product-detail__category">{{ product.category.name }}</p>
      </div>

      <div class="product-detail__description-box">
        <p class="product-detail__description">
          {{ product.description }}
        </p>
      </div>

      <!-- Nuevo bloque de detalles del producto -->
      <div class="product-detail__extra-info">
        <h3 class="product-detail__subtitle">Detalles del Producto</h3>
        <ul class="product-detail__info-list">
          <li><strong>Tipo de envio:</strong> Domicilio</li>
          <li><strong>Unidad de peso:</strong> Kilogramo</li>
          <li><strong>Cantidad disponible:</strong> {{ product.stock }}</li>
          <li><strong>Peso:</strong> 200gr</li>
          <li><strong>Productor:</strong> Finca El Paraíso</li>
          <li><strong>Entrega estimada:</strong> 24 horas dentro del municipio</li>
          <li><strong>Tipo de pago:</strong> Consignación, pago contra entrega</li>

        </ul>
      </div>


      <!-- Footer movido aquí -->
      <footer class="product-detail__footer">
        <div class="product-detail__profile">
          <div class="product-detail__avatar"></div>
          <a href="/seller-profile/">
          <span class="product-detail__username">Perfil Usuario</span>
          </a>
        </div>
        <span class="product-detail__date">Producto publicado el 3 de Septiembre del 2025</span>
      </footer>

      <div class="product-detail__purchase">
        <p class="product-detail__price">${{ product.price }}</p>
        <form action="{% url 'cart_add' product.id %}" method="post">
          {% csrf_token %}
          <button type="submit" {% if product.stock == 0 %}disabled{% endif %}>
            {% if product.stock == 0 %}Sin stock{% else %}Añadir{% endif %}
          </button>
        </form>
      </div>
    </div>
  </div>

  <hr class="product-detail__divider">

</section>