{% load static %}

<!-- Products Index Section -->
<section class="products-index__section">
  <div class="products-index__header">
    <h2 class="products-index__title">Lo más buscado</h2>
    <a href="/catalogo/" class="products-index__more">VER MÁS</a>
  </div>

  <div class="products-index">
    {% for product in home_products %}
      <a href="{% url 'product_detail' product.slug %}" class="products-index__card" data-id="{{ product.id }}">
        {% if product.image %}
          <img src="{{ product.image.url }}" alt="{{ product.name }}" class="products-index__image">
        {% else %}
          <img src="{% static 'assets/banano.webp' %}" alt="{{ product.name }}" class="products-index__image">
        {% endif %}

        <div class="products-index__info">
          <p class="products-index__category">{{ product.category.name }}</p>
          <h3 class="products-index__name">{{ product.name }}</h3>
          <p class="products-index__price">${{ product.price }}</p>
        </div>
      </a>
    {% empty %}
      <p>No hay productos disponibles.</p>
    {% endfor %}
  </div>
</section>