{% load static %}

<section class="category-index">
  <div class="category-index__header">
    <h2 class="category-index__subtitle"><span> Según tus <strong>gustos</strong></span></h2>
    <p>¡Compra los productos que más te interesen!</p>
  </div>

  <div class="category-index__grid">
    {% for category in home_categories %}
      <div class="category-index__item"onclick="window.location.href='{% url 'products:products_by_category' category.slug %}'"style="cursor:pointer;">
        {% with slug=category.slug|lower name=category.name|lower %}
          {% if "animal" in slug or "animal" in name %}
            <img src="{% static 'assets/huevos-transparentes.png' %}" alt="{{ category.name }}">
          {% elif "grano" in slug or "grano" in name %}
            <img src="{% static 'assets/granos-transparentes.png' %}" alt="{{ category.name }}">
          {% elif "verdura" in slug or "verdura" in name %}
            <img src="{% static 'assets/tomates-transparentes.png' %}" alt="{{ category.name }}">
          {% elif "fruta" in slug or "fruta" in name %}
            <img src="{% static 'assets/frutas-transparentes.png' %}" alt="{{ category.name }}">
          {% else %}
            <img src="{% static 'assets/frutas-transparentes.png' %}" alt="{{ category.name }}">
          {% endif %}
        {% endwith %}

        <button class="category-index__btn" type="button">{{ category.name }}</button>
      </div>
    {% endfor %}
  </div>
</section>