<header class="header-section">
  <h2 class="header-section__title">Historial de pedidos</h2>
</header>

<section class="orders-section">
  <div class="orders__list">
    {% if orders %}
      {% for order in orders %}
        <article class="orders__article">
          <div class="orders__article-info">
            <h3 class="orders__article-id">Pedido #{{ order.id }}</h3>

            {% if order.status == "confirmed" %}
              <span class="orders__article-status orders__article-status--enviado">Confirmado</span>
            {% elif order.status == "pending" %}
              <span class="orders__article-status orders__article-status--pendiente">Pendiente</span>
            {% elif order.status == "shipped" %}
              <span class="orders__article-status orders__article-status--enviado">Enviado</span>
            {% elif order.status == "delivered" %}
              <span class="orders__article-status orders__article-status--enviado">Entregado</span>
            {% else %}
              <span class="orders__article-status orders__article-status--pendiente">Cancelado</span>
            {% endif %}

            <small>{{ order.created|date:"Y-m-d H:i" }}</small>
            <p><strong>Total:</strong> ${{ order.get_total_price }}</p>
          </div>

          <a href="{% url 'orders:order_detail' order.id %}" class="orders__article-button">
            Ver más
          </a>
        </article>
      {% endfor %}
    {% else %}
      <p>No tienes pedidos aún.</p>
    {% endif %}
  </div>
</section>