/* El archivo layout.css se encarga de definir la estructura base de tu aplicación, como el sistema de grid, flexbox, contenedores, espaciados y alineaciones. Su objetivo es organizar los elementos de la página sin afectar su apariencia visual (colores, tipografías, etc.). */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Asegura que el body y html ocupen toda la altura de la ventana  para mantener el footer abajo*/

body {
  font-family: var(--main-font);
  color: var(--black);
  padding: 0%;
  margin: 0%;
  font-size: var(--fs-xs);
}

.footer.body{
  margin-top: 24rem;
}



.body-register-an_account .footer{
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
    background: var(--primary-900);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    font-family: var(--fs-xxxxs);
    min-block-size: 40px;
    gap: 4rem;
}

/* ============================= */
/* Django Flash Messages */
/* ============================= */

.flash-messages{
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 9999;
  display: grid;
  gap: 10px;
}

.flash{
  padding: 12px 16px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 6px 18px rgba(0,0,0,.2);
  animation: flashFade 4s forwards;
}

/* colores */
.flash--success{
  background: #16a34a;
}

.flash--error{
  background: #dc2626;
}

.flash--warning{
  background: #d97706;
}

.flash--info{
  background: #2563eb;
}

/* animación */
@keyframes flashFade {
  0%{ opacity:0; transform: translateY(10px);}
  10%{ opacity:1; transform: translateY(0);}
  85%{ opacity:1;}
  100%{ opacity:0; transform: translateY(10px);}
}

/* Links con clase btn se ven como botón */
a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
}

.checkout-summary__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

main{
  margin-top: calc(var(--govbar-height) + var(--navbar-height));
  padding-top: 0;
}
