{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}
{% block body_class %}body-detail{% endblock %}

{% block content %}


{% include "components/0_product_detail.html" %}


<section class="products">
  {% for p in related_products %}
    <a href="{% url 'product_detail' p.slug %}" class="product1">
      {% if p.image %}
        <img src="{{ p.image.url }}" class="product1__image" alt="{{ p.name }}">
      {% else %}
        <img src="{% static 'assets/banano.webp' %}" class="product1__image" alt="{{ p.name }}">
      {% endif %}
      <div class="product1__info">
        <div class="product1__details">
          <p class="product1__price">${{ p.price }}</p>
          <h3 class="product1__name">{{ p.name }}</h3>
          <p class="product1__category">{{ p.category.name }}</p>
        </div>
      </div>
    </a>
  {% endfor %}
</section>

{% endblock %}