{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}
{% block body_class %}body-detail{% endblock %}

{% block content %}


{% include "components/0_product_detail.html" %}


<section class="products">
  {% for p in page_obj %}
    <a href="{% url 'products:product_detail' p.slug %}" class="product1">
      {% if p.image %}
        <img src="{{ p.image.url }}" class="product1__image" alt="{{ p.name }}">
      {% else %}
        <img src="{% static 'assets/banano.webp' %}" class="product1__image" alt="{{ p.name }}">
      {% endif %}
      <div class="product1__info">
        <div class="product1__details">
          <p class="product1__price">${{ p.price }}</p>
          <h3 class="product1__name">{{ p.name }}</h3>
          <p class="product1__category">{{ p.category.name }}</p>
        </div>

        <form action="{% url 'cart:cart_add' product.id %}" method="post">
        {% csrf_token %}
        <button class="product__btn-add" type="submit" {% if product.stock == 0 %}disabled{% endif %}>
          <i class="fas fa-shopping-cart product__icon-cart"></i>
          {% if product.stock == 0 %}Agotado{% else %}Añadir{% endif %}
        </button>
      </form>
  </div>
  </a>
  {% empty %}
    <p>No hay productos disponibles.</p>
  {% endfor %}
</section>

<div class="catalog-pagination">
    {% if page_obj.has_previous %}
        <a class="catalog-pagination__btn" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    <div class="catalog-pagination__pages">
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <span class="catalog-pagination__number catalog-pagination__number--active">{{ num }}</span>
            {% else %}
                <a class="catalog-pagination__number" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    </div>

    {% if page_obj.has_next %}
        <a class="catalog-pagination__btn" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    {% endif %}
</div>

{% endblock %}